#productContainer{


  .innerProductCont{
    color:#220A37;
    min-width: 30%;
    justify-content: center;
  }
  h1{
    text-align: center;
    padding: 5%;
  }
  .productText{
    padding:10%;
    background-color: #220A37;
    color:#fff;
    border-radius: 1em;
    width: 75%;
    display: flex;
    justify-content: center;
    h1{
      letter-spacing: 4px;
      font-weight: 100;
    }
    p{
      font-family: Roboto;
    }
    .left{
      display: flex;
      flex:1;
      padding: 5%;
      height: 100%;
      
      background-color: #fff;
      color:#220A37;
    }
    .right{
      display: flex;
      flex:2;
      flex-direction: column;
      height: 100%;
      padding: 0 5%;
    }
    .productLink{
      background-color: #fff;
      color: #220A37;
      border-radius: 3em;
      margin: 0 auto;
      border:1px solid rgba(0,0,0,.15);
      cursor: pointer;
      text-align: center;
      align-self: flex-end;
      width: 70%;

    }
  }
  .product{
  padding: 0 5%;
  }

  .productImage{
    background-repeat: no-repeat;
    background-size: cover;
  }


};
